@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway&display=swap");
/* mont font-weight: 700 raleway :400 */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.h-colour {
	color: #ff0066;
}
.h-colour .space {
}

.header {
	padding: 30px;
	background: #ffcce0;
	max-height: 100%;
	height: 500px;
}
.title {
	padding: 25px;
	margin-bottom: 40px;
	letter-spacing: 1px;
	margin-top: 70px;
}

.slogan {
	margin-left: 26px;
}

.title_head {
	float: left;
}

.header img {
	width: 40%;
	float: right;
}

.header button {
	width: 100%;
	padding: 15px 0px;
	margin-top: 20px;
	position: relative;
	background: #ff0066;
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	letter-spacing: 1px;
	border: none;
	font-size: 15px;
	outline: none;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	transition: all 0.5s ease-in-out;
}
.header button:hover {
	background: white;
	color: #ff9292;
}
