@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway&display=swap");
/* mont font-weight: 700 raleway :400 */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #ff0066;
}

.h-colour {
	color: #ff0066;
}
.h-colour .space {
}

.header {
	padding: 30px;
	background-image: url("../image/top-banner.png");
	max-height: 100%;
	height: 500px;
	background-repeat: no-repeat;
}
.title {
	padding: 25px;
	margin-bottom: 40px;
	letter-spacing: 1px;
	margin-top: 70px;
}

.slogan {
	margin-left: 26px;
}

.title_head {
	float: left;
	margin-left: 100px;
}

.header img {
	width: 40%;
	float: right;
}

.but button {
	padding: 15px 20px;
	margin-top: 20px;
	position: relative;
	background: #ff0066;
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	letter-spacing: 1px;
	border: none;
	font-size: 15px;
	outline: none;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	transition: all 0.5s ease-in-out;
}
.but button:hover {
	background: white;
	color: #ff9292;
}
/* End Header Section */
/* About Section */
.about {
	padding: 30px;
	/* text-align: center; */
	margin-top: 100px;
}

.about_title {
	margin-top: 100px;
	color: #ff0066;
	margin-bottom: 10px;
}
.about_title h2 {
	margin-bottom: 20px;
}
.about_description {
	color: #131313;
}

.about_img img {
	width: 40%;
	float: left;
	border-radius: 46%;
	padding: 0px 25px;
}

.about-img {
	background-image: url("../image/dream-bg.png");
	background-repeat: no-repeat;
	background-position: right;
}

/* End About */

/* Exprience */
.exp {
	margin-top: 100px;
	padding: 0px 30px;
	background-image: url("../image/exp-bg.png");
	background-repeat: no-repeat;
	background-position: left;
}
.exp .title_exp {
	text-align: center;
	margin-bottom: 30px;
}
.exp .right {
	float: right;
	width: 45%;
}
.exp .left {
	/* float: right; */
	width: 45%;
}
.r-title {
	margin-bottom: 20px;
	color: dimgray;
}
.sub-title {
	margin-bottom: 20px;
}
.shadow {
	box-shadow: 10px 10px 40px gray;
	border-radius: 5px;
	padding: 75px;
}
/* End Exprience */
/* Footer */
.footer {
	margin-top: 50px;
	background-color: #1b181875;
	height: 50px;
	text-align: center;
}

.footer p {
	padding-top: 25px;
	font-weight: bold;
	text-transform: lowercase;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
}
